<!DOCTYPE html>
<html>
<head>
  <title>RailsWikinimous</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-default bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'Wikinimous', articles_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'New Article', new_article_path %></li>
      </ul>
    </div>
  </nav>
  <div class="container p-3">
    <%= yield %>
  </div>
</body>
</html>
